{%- css %}{% include "./spende.css" %}{% endcss %}
<div class="fullwidth spende">
  <div class="fondo cubrir">
    {% image "../_images/paigar_profesional_photography_of_a_diverse_group_of_people_o_63262f53-b535-43bc-847a-5bde628810d0_0.png",
    "Gruppe von Menschen unterschiedlicher Nationalität, die eine Spende tätigen",
    [1400, 900, 600] %}
  </div>
  <div class="contenido">
    <h3 class="titulo fs2">Unterstütze mit uns Projekte in Essen und Umgebung.</h3>
    <p class="fs1">Hilf dabei, gemeinsame Ziele zu verwirklichen. Dein Beitrag macht einen Unterschied. </p>
    <a class="boton" href="/spenden/">Spende</a>
  </div>
</div>