{%- css %}{% include "./catering.css" %}{% endcss %}
<div class="fullwidth layout cateringcta">
  <div class="doscol">
    <div class="text">
      <h3 class="fs2">Catering-Service</h3>
      <p>Entdecke unser Catering, das nicht nur mit Kalorien, sondern auch mit Empowerment punktet. Weil gutes Essen mehr als nur Treibstoff ist.</p>
      <a href="/catering/" class="boton">Mehr erfahren</a>
    </div>
    <div class="imagen cubrir">
      {% image "../_images/Catering1.JPG",
  "Gruppe von Menschen verschiedener Nationalitäten, die einen Catering-Service anbieten", [900] %}
    </div>
  </div>
</div>