<div class="partners fullwidth">
  <h3 class="titulo fs2">Unsere Freunde</h3>
  <p class="intro">Ein herzliches Dankeschön geht an alle Freund*innen und Unterstützer*innen, die uns geholfen haben die Mitmachagentur aufzubauen und immer mit dem Herzen dabei sind.</p>
  <div class="logos">
    <div class="logopartner ajustar">
      {% image "../_images/partners/ZV_Logo_rgb_Stiftung_Zollverein_positiv_mitSchutzraum.jpg",
      "Stiftung Zollverein positiv mitSchutzraum",
      [400] %}
    </div>
    <div class="logopartner ajustar">
      {% image "../_images/partners/RuhrMuseum_Logo_4c_mit_Schutzraum.jpg",
      "RuhrMuseum Logo",
      [400] %}
    </div>
    <div class="logopartner ajustar">
      {% image "../_images/partners/Logo_OHE_web_ultraviolett.png",
      "Open House Essen Logo",
      [400] %}
    </div>
    <div class="logopartner ajustar">
      {% image "../_images/partners/Jugendamt-Logo-P539-4c.jpg",
      "Jugendamt Logo",
      [400] %}
    </div>
    <div class="logopartner ajustar">
      {% image "../_images/partners/insani-2.png",
      "Insani Logo",
      [400] %}
    </div>
    <div class="logopartner ajustar">
      {% image "../_images/partners/Gleichstellungsstelle-mit-Marquette-CMYK-Print.jpg",
      "Gleichstellungsstelle Logo",
      [400] %}
    </div>
  </div>
</div>

{%- css %}{% include "partials/partners/partners.css" %}{% endcss %}