.postslist {
	padding-block: var(--space-xl);
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-m);
}
.postitem {
	position: relative;
	isolation: isolate;
	border-radius: 0.5rem;
	overflow: hidden;
	display: grid;
	grid-template-rows: auto 1fr;
	flex: 1;
	min-width: min(100%, 22rem);
}
.postitem::after {
	content: "";
	position: absolute;
	inset: 0;
	background-color: var(--color-accent1);
	opacity: 0.4;
	z-index: -1;
	transition: opacity 300ms ease;
}
.postitem:hover::after {
	opacity: 0.7;
}
.postitem .imagen {
	width: 100%;
	aspect-ratio: 16 / 9;
}
.postitem:hover .imagen img {
	filter: saturate(1.5);
}
.postitem .textos {
	padding: var(--space-m);
	display: grid;
	grid-template-rows: auto 1fr auto;
	gap: var(--space-s);
}
.postitem .boton {
	font-size: var(--fs--1);
	margin: auto 0 0;
}
.postitem .boton::after {
	content: "";
	position: absolute;
	inset: 0;
}
.postitem:last-child {
	grid-column-end: -1;
}
