{%- css %}{% include "./mitmachen.css" %}{% endcss %}
<div class="fullwidth mitmachen">
  <div class="fondo cubrir">
    {% image "../_images/paigar_profesional_photography_of_a_woman_working_with_a_lapt_88cb3951-cac9-43c2-a711-9e68ea632fd6_3.png",
    "Person, die auf einem Computer tippt",
    [1400, 900, 600] %}
  </div>
  <div class="contenido">
    <h3 class="titulo fs2">Engagiere dich und starte gemeinsam mit uns dein eigenes Projekt.</h3>
    <p class="fs1">Du hast eine Projektidee, arbeitest gerne mit Menschen zusammen und du möchtest dich ehrenamtlich beteiligen und mit Menschen, wie du vernetzen.</p>
    <a class="boton" href="/mitmachen/">Mach mit</a>
  </div>
</div>