{%- css %}{% include "./mach_mit.css" %}{% endcss %}
<div class="doublecta wide">
  <h2 class="titulo fs3">Mach mit. Mit der mitMach Agentur </h2>
  <div class="doscol">
    <div class="col">
      <div class="imagen cubrir">
        {% image "../_images/paigar_profesional_photography_of_a_diverse_group_of_people_o_7c4ee1db-aa87-4439-8f70-3f8881d159b3_3.png",
      "Frau stellt ein Unternehmerprojekt vor" %}
      </div>
      <div class="contenido">
        <h3 class="titulo fs1">Engagiere dich und starte gemeinsam mit uns dein eigenes Projekt.</h3>
        <p>Du hast eine Projektidee, arbeitest gerne mit Menschen zusammen und du möchtest dich ehrenamtlich beteiligen und mit Menschen, wie du vernetzen.</p>
        <a class="boton" href="/mitmachen/">Mach mit</a>
      </div>
    </div>
    <div class="col">
      <div class="imagen cubrir">
        {% image "../_images/paigar_profesional_photography_of_a_diverse_group_of_people_o_e46f89dc-95b7-48ef-9638-612ad5a0a5d2_3.png",
        "Gruppe von Menschen, die eine Spende tätigen" %}
      </div>
      <div class="contenido">
        <h3 class="titulo fs1">Unterstütze mit uns Projekte in Essen und Umgebung.</h3>
        <p>Hilf dabei, gemeinsame Ziele zu verwirklichen. Dein Beitrag macht einen Unterschied. </p>
        <a class="boton empty" href="/spenden/">Spende</a>
      </div>
    </div>
  </div>
</div>