---
title: Unsere Idee
tags: "Uber Uns"
permalink: /uber-uns/unsure-idee/
layout: layouts/post.njk
imgmain: ../_images/paigar_profesional_photography_of_a_diverse_group_of_people_o_6c718995-6a77-4292-8781-2c6bf65fd786_1.png
description: In einigen Stadtteilen Essens leben die Einwohner\*innen oft in ihren gleichbleibenden Communities. Die MitmachAgentur hat sich vorgenommen Menschen untereinander wieder mehr zu vernetzen und Wege für ein neues Miteinander zu schaffen.
date: 2024-09-01
---

<p>In einigen Stadtteilen Essens leben die Einwohner\*innen oft in ihren gleichbleibenden Communities. Die MitmachAgentur hat sich vorgenommen Menschen untereinander wieder mehr zu vernetzen und Wege für ein neues Miteinander zu schaffen.</p>

<p>Dafür nehmen wir Projektideen auf, suchen nach den geeigneten Fördermitteln, schreiben die nötigen Anträge und unterstützen bei der Planung. Wir möchten den Aufwand ein Projekt zu initiieren, für ehrenamtlich Engagierte so gering wie möglich halten, sodass diese sich nur mit dem Projekt an sich beschäftigen müssen. Wir möchten viele unterschiedliche, spannende, soziale Projekte nach Essen und Umgebung bringen und freuen uns auf neue Kontakte.</p>

<p>Wenn du selbst eine Projektidee hast, du gerne mit Menschen zusammenarbeitest und dich ehrenamtlich beteiligen möchtest, melde dich gerne bei uns.</p>